<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b450028b-0a8a-41f6-94bd-00afdb9bbeef" name="BI.API V1.0 TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [BI.API V1.0]</con:description>
  <con:settings>
    <con:setting id="b450028b-0a8a-41f6-94bd-00afdb9bbeeffileName">BI.API-V1.0-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>LLGStoreFredAccessKeyV1.0</con:name>
      <con:value>7b892f58-a111-4c53-8163-d394e2de5d63</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
